body {
    direction:rtl;
}



.slick-slider {
    direction:ltr;
}

.ecommerce_gem_widget_latest_products, .latest-products-wrapper, .products-carousel-wrap, .products-carousel-wrap .bp-latest-items, li.product .product-thumb-wrap, li.product .product-info-wrap, li.product .add-to-cart-wrap .added_to_cart {
    text-align: right;
}
#home-page-advertisement-area.mixed-width .widget_media_image, #home-page-advertisement-area.mixed-width .ecommerce_gem_widget_advertisement {
    width: 33.3333%;
}
.ecommerce_gem_widget_social li {
    float: right;
}
.featured-cat-title {
    direction: rtl;
}
.copyright {
    float: unset;
}
li.product .add-to-cart-wrap .added_to_cart {
    text-align: center;
}
.woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after {
    margin-left: .53em;
    margin-right: auto;
}
.top-account-wrapper a i {
    margin-left: 10px;
    margin-right: auto;
}
.hamyarwp a:hover {
    color: #e71d1d !important;
}
.woocommerce nav.woocommerce-pagination {
    float: unset !important;
}
.site-info {
    display: none;
}

.entry-content, input, textarea {
    text-align: right;
}
.ajax-loader {
    display: none !important;
}
.top-header .ecommerce_gem_widget_social li {
    margin-right: 15px;
    margin-left:auto;
}
#footer-widgets .ecommerce_gem_widget_social ul li {
    margin-left: 10px;
    margin-right: 0;
}
.breadcrumb-trail li {
    float: right;
    list-style: outside none none;
    padding-left: 10px;
    padding-right: inherit;
}
.breadcrumb-trail li::after {
    content: "/";
    margin-right: 10px;
    margin-left: inherit;
}
.site-footer, #footer-widgets, #footer-widgets .footer-active-4, #footer-widgets .footer-active-3, #footer-widgets .footer-active-2, #footer-widgets .footer-active-1, .site-info-holder {
    float: right;
}
@media screen and (min-width: 768px) {
    .site-branding {
        float: right;
        margin-left: 30px;
        margin-right: inherit;
    }
    .main-navigation li {
        float: right;
    }
    #main-nav {
        display: block;
        float: left;
    }
    .top-left {
        float: right;
    }
    .top-right {
        float: left;
    }
    .top-header .top-account-wrapper, .top-header .top-cart-wrapper, .top-header .top-social-menu, .top-header .search-holder {
        float: right;
    }
    .top-left span {
        margin-left: 0px;
        float: right;
        margin-right: inherit;
    }
    .top-left span i {
        margin-left: 10px;
        margin-right: inherit;
    }
    .top-left span {
        border-left: 1px solid #22202e;
        border-right: inherit;
        padding-right: inherit;
        padding-left: 20px !important;
    }
    .search-box {
        left: 0;
        right: inherit;
    }
    .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-icon, .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-wrapper .newsletter-text {
        float: right;
    }
    .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-icon {
        position: absolute;
        right: 0;
        top: 0;
        left: inherit;
    }
    .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-wrapper .newsletter-text {
        position: relative;
        padding-right: 100px;
        padding-left: inherit;
    }
    .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-wrapper .newsletter-form form input[type="submit"] {
        left: 0;
        right: inherit;
    }
    .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-wrapper .newsletter-form form {
        margin-left: -50px;
    }
}

.ecommerce_gem_widget_call_to_action .call-to-action-offer {
    left: 50px;
    right: inherit;

}

#footer-widgets .ecommerce_gem_widget_features .feature-item .feature-icon, #footer-widgets .ecommerce_gem_widget_contact .contact-item .contact-icon {
    right: 0;
    left: inherit;

}
#footer-widgets .ecommerce_gem_widget_features .feature-item .feature-inner, #footer-widgets .ecommerce_gem_widget_contact .contact-item .contact-inner {
    padding-right: 55px;
    padding-left: inherit;
}

.woocommerce.single-product div.product {
    text-align: right;
}
#primary {
    float: left;
}
#sidebar-primary .widget .widget-title::after, #primary .page-header .page-title::after {
    right: 0;
    left: inherit;
}
#sidebar-primary .widget ul li::before {
    right: 0;
    left: inherit;
}
#sidebar-primary .widget ul li {
    padding-right: 20px;
    padding-left: inherit;
}
.main-navigation ul ul a {
    text-align: right;
}
.main-navigation ul ul {
    right: 0%;
    left: inherit;
}
.main-navigation ul li li.menu-item-has-children > a::after, .main-navigation ul li li.page_item_has_children > a::after {
    content: "\f104";
}
.main-navigation ul li.menu-item-has-children > a::after, .main-navigation ul li.page_item_has_children > a::after {
    margin-left: -5px !important;
    left: 10px;
    right: inherit;
    margin-right: 20px !important;
}
.woocommerce-product-search button[type="submit"], .sidebar .search-form input[type="submit"] {
    left: 0;
    right: inherit;
}
#primary .post .content-wrap {
    text-align: right;
}
.entry-meta > span::before, .entry-footer > span::before, .single-post-meta > span::before {
    margin-left: 6px;
    margin-right: inherit;
}
.entry-meta > span, .entry-footer > span, .single-post-meta > span {
    margin-right: inherit;
    margin-left: 15px;
}
@media screen and (max-width: 768px) {
    .mean-container .mean-nav ul li a {
        float: right;
        text-align: right;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        left: 0;
        right: inherit;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        border-right: 1px solid rgba(255,255,255,0.5) !important;
        border-left: inherit;
    }
    .site-branding {
        text-align: right;
    }
    .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-icon, .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-icon img {
        float: right;
    }
    .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-wrapper .newsletter-text h2, .ecommerce_gem_widget_newsletter .newsletter-content-holder .content-wrap .newsletter-wrapper .newsletter-text p {
        text-align: right;
    }
}
.ecommerce_gem_widget_call_to_action .call-to-action-wrap .call-to-action-content p {
    margin-left: 60px;
}
#home-page-widget-area .ecommerce_gem_widget_call_to_action .call-to-action-wrap .call-to-action-content .widget-title {
    margin-left: 60px;
}
.ecommerce_gem_widget_call_to_action .call-to-action-offer .call-to-action-offer-inner .cta-offer-wrap {
    margin-left: 20px;
}
.site-info {
    float: left;
}
.top-cart-content {
    left: -70px;
    right: inherit;
}
.top-cart-content {
    left: 0px;
    right: inherit;
}

.search-results #primary article {
    text-align: right;
}
.error-404.not-found form.search-form input[type="submit"], .search-no-results form.search-form input[type="submit"] {
    left: 0;
    right: inherit;
}
.comment .comment-body {
    text-align: right;
}
.vcard .avatar {
    float: right;
    margin: 7px 15px 15px 0;
}
.comments-title {
    float: right;
}
.vcard .avatar {
    margin-right: inherit;
    margin-left: 15px;
}
.woocommerce-product-search button[type="submit"], .search-submit {
    left: 0;
    right: auto;
}

@media screen and (min-width: 768px) {
    .main-navigation ul ul ul {
        right: 100%;
        left: inherit;
    }
}

h3 {
   color: #dfdfdf;
}

.woocommerce .products-carousel-wrap .product span.onsale {
        direction: rtl;
}

li.product .product-info-wrap {
        direction: rtl;
}


.comment-navigation .nav-next a::after, .posts-navigation .nav-next a::after, .post-navigation .nav-next a::after {
    margin-right: 10px;
    margin-left: unset;
}

.comment-navigation .nav-previous a::before, .posts-navigation .nav-previous a::before, .post-navigation .nav-previous a::before {
    margin-left: 10px;
    margin-right: unset;
}

.sidebar {
    width: 30%;
    padding-left: 30px;
    padding-right: 10px;
}

.woocommerce ul.product_list_widget li img {
    float: right;
    margin-left: 8px;
    margin-right:unset;
}


@media screen and (min-width: 768px) {
    .search-box .product-search-wrapper form {
    margin-left: 70px;
     width: 100%;
    }
}

@media screen and (max-width: 479px) {
    .search-box {
    left: -20px;
    transform: translateX(120px);
    }
}












