@font-face {
  font-family: 'Shabnam';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Shabnam/Shabnam/Shabnam-FD.eot');
  src: url('fonts/Shabnam/Shabnam/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
    url('fonts/Shabnam/Shabnam/Shabnam-FD.woff2') format('woff2'),
    url('fonts/Shabnam/Shabnam/Shabnam-FD.woff') format('woff'),
    url('fonts/Shabnam/Shabnam/Shabnam-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'Shabnam';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.eot');
  src: url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
    url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.woff2') format('woff2'),
    url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.woff') format('woff'),
    url('fonts/Shabnam/Shabnam-Bold/Shabnam-Bold-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'Shabnam';
  font-style: normal;
  font-weight: lighter;
  src: url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.eot');
  src: url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
    url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.woff2') format('woff2'),
    url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.woff') format('woff'),
    url('fonts/Shabnam/Shabnam-Light/Shabnam-Light-FD.ttf') format('truetype');
}

body, h1, h2, h3, h4, h5, h6, span, a, table, article, section, figure, figcaption, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, input, div, form, .rtl #wpadminbar * {
  font-family: Shabnam;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: Shabnam;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .site-branding .site-title, .site-branding .site-description, .site-title a, .site-branding .site-title, .site-branding .site-description, .site-title a {
  font-family: Shabnam !important;
}

a.button, p {
  font-family: Shabnam;
}

input[type="submit"] {
   font-family: Shabnam;
} 

.comment-reply-link {
   font-family: Shabnam;
} 

button {
    font-family: shabnam;
}

 span {
    font-family: star,shabnam;
}

li ,a{
  font-family: Shabnam !important;
}
   

.main-navigation ul li a {
    font-family: shabnam;
}

















