@font-face {
  font-family: mitra;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/mitra/BMitraBold.woff') format('woff');
}

@font-face {
  font-family: mitra;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/mitra/BMitra.woff') format('woff');
}

body,  h1, h2, h3, h4, h5, h6, span, a, table, article, section, figure, figcaption, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, input, div, form, .rtl #wpadminbar * {
  font-family: mitra;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,  blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: mitra;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .site-branding .site-title, .site-branding .site-description, .site-title a, .site-branding .site-title, .site-branding .site-description, .site-title a {
  font-family: mitra!important;
}

a.button, p {
  font-family: mitra;
}

input[type="submit"] {
   font-family: mitra;
} 

.comment-reply-link {
   font-family: mitra;
} 

button {
    font-family: mitra;
}

 span {
    font-family: star,mitra;
}

li ,a{
  font-family: mitra !important;
}
   

.main-navigation ul li a {
    font-family: mitra;
}

